:root {
  --theme-color-one: #AD1723;
  --theme-color-two: #FAF552;
  --theme-color-three: #20B0FA;
  --theme-color-four: #1F7DAD;
  --theme-color-five: #FA394A;

  --THEME_LOGO_ATSA_ORANGE : rgb(255, 85, 0);
  --THEME_LOGO_ATSA_BLUE : rgb(4, 140, 164);
  --THEME_FONT_DARK_COLOR: rgb(97, 97, 97);
  --THEME_FONT_LIGHT_COLOR: rgb(255, 255, 255);
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  padding: 8rem 0 6rem;
  text-align: justify;
  color: var(--THEME_FONT_DARK_COLOR);
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.section-heading {
  text-align: center;
  margin-bottom: 1.2rem;
}

/* specific sections
-––––––––––––––––––––––––––––––––––––––––––––––––– */

.backgrouned-with-img {
  background-image: url('../images/bg_campus.png');
  background-size: cover;
  text-align: center;
  color: var(--THEME_FONT_LIGHT_COLOR);
  padding-bottom: 5rem;
}

.backgrouned{
  background-size: cover;
  text-align: justify;
  padding-bottom: 5rem;
}

.backgrouned.with-color-two {
  background-color: var(--theme-color-two);
  color: var(--THEME_FONT_DARK_COLOR);
}

.backgrouned.with-color-logo-orange {
  background-color: var(--THEME_LOGO_ATSA_ORANGE);
  color: var(--THEME_FONT_LIGHT_COLOR);
}

.backgrouned.with-dark-color {
  background-color: var(--THEME_FONT_DARK_COLOR);
  color: var(--THEME_FONT_LIGHT_COLOR);
}

.centered-content {
  text-align: center;
  /* border-bottom: 1px solid var(--THEME_FONT_DARK_COLOR); */
}

/* widgets
-––––––––––––––––––––––––––––––––––––––––––––––––– */

.sticker {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, .5);
  min-width: 200px;
  min-height: 125px;
  padding: 1.2em 0.2em 0.8em 0.2em;
  text-align: center;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* call-for-paper
–––––––––––––––––––––––––––––––––––––––––––––––––– */

